@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import 'https://fonts.googleapis.com/css?family=Oleo+Script';


body {
    background: #ffffff;
}
.para1 {
    font-family: 'Oleo Script', cursive;
    color: #fdfdfd;
    font-size: 30px;
    text-align: center;
    line-height: 27px;
    margin-top: 2px;
 }

.gg-circle {
    width: 55px;
}



.footertext {
    font-family: 'Oleo Script', cursive;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    line-height: 22px;
}

.foots {
   margin-top: 30px;
}
